/* Body */
.container {
  display: flex;
  flex-direction: column; /* Stack the sections vertically */
  justify-content: flex-start;
  padding: 0 30px;
  flex: 1; /* Takes up remaining space between navbar and footer */
  margin-top: 50px;
}

.container h1 {
  font-size: 36px;
  margin-bottom: 10px;
}
.container p {
  color: #666;
  margin-bottom: 30px;
}

.input-container {
  flex: 0.7; /* Takes up 70% of the container */
  text-align: center;
}

.url-input {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 10px;
  width: 450px;
  margin: auto;
  padding: 30px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.url-input input[type="text"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
  border-radius: 10px;
}

.buttons button {
  font-size: 18px;
  width: 200px;
  height: 60px;
  padding: 11px 20px;
  background-color: #0066ff;
  color: #ffffff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
  margin-left: 20px;
  border-radius: 10px;
}

.features {
  display: flex;
  flex: 0.4; /* Takes up 30% of the container */

  justify-content: space-around;
  margin: 50px 0;
  padding-bottom: 50px;
  text-align: center;
}
.feature {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 28%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
